## Task 1

In [330]:
import pandas as pd
import numpy as np

In [331]:
all_cols = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]
cont_cols = ["age", "fnlwgt", "education-num", "capital-gain", "capital-loss", "hours-per-week"]
cat_cols = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]

#### Fill Missing Values

In [332]:
df = pd.read_csv("adult.data", index_col=False, names=all_cols)
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [333]:
df[df.isin([" ?"]).any(axis=1)]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
51,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,?,<=50K
61,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [334]:
df = df.replace(" ?", np.nan)
df[df.isin([" ?"]).any(axis=1)]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [335]:
df[df.isnull().any(axis=1)]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
27,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,NaN,>50K
51,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,NaN,<=50K
61,32,NaN,293936,7th-8th,4,Married-spouse-absent,NaN,Not-in-family,White,Male,0,0,40,NaN,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,NaN,320084,Bachelors,13,Married-civ-spouse,NaN,Wife,White,Female,0,0,55,United-States,>50K
32531,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,>50K
32541,41,NaN,202822,HS-grad,9,Separated,NaN,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,NaN,129912,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,United-States,<=50K

In [336]:
# cont_cols = ["age", "fnlwgt", "education-num", "capital-gain", "capital-loss", "hours-per-week"]
for column in cont_cols:
    val = df[column].mean(skipna=True)
    df[column] = df[column].replace(np.nan, val)

In [337]:
# cat_cols = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]
for column in cat_cols:
    df[column] = df[column].replace(np.nan, drop_df[column].mode()[0])

In [338]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [339]:
# df.to_csv("nb_filled.csv", index=None)

#### Create Training and Testing Sets

In [340]:
def create_split(df):
    training_split = df.sample(frac = 0.67, random_state=80)
    testing_split = df.drop(training_split.index)

    return (training_split, testing_split)

In [341]:
df = pd.read_csv('nb_filled.csv')
train, test = create_split(df)

In [342]:
train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
22946,40,Federal-gov,189610,HS-grad,9,Divorced,Adm-clerical,Not-in-family,Black,Female,0,0,52,United-States,<=50K
13044,45,Private,27332,HS-grad,9,Divorced,Sales,Not-in-family,White,Female,0,0,40,United-States,<=50K
828,43,Private,233130,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,25,United-States,<=50K
9320,34,Self-emp-not-inc,123429,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,<=50K
14156,21,Private,44793,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,65,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22014,20,Private,157541,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,27,United-States,<=50K
25408,42,Private,173590,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,1628,40,United-States,<=50K
6446,42,Private,178537,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,24,United-States,<=50K
8940,27,Private,188711,Some-college,10,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,30,United-States,<=50K
30088,59,State-gov,261584,Bachelors,13,Never-married,Exec-managerial,Not-in-family,Black,Female,0,0,40,Outlying-US(Guam-USVI-etc),<=50K

In [343]:
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K

In [344]:
bin_dict = {}
for col in cont_cols:
    result, bins = pd.cut(df[col], bins=10, retbins=True)
    bin_dict[col] = bins
bin_dict

{'age': array([16.927, 24.3  , 31.6  , 38.9  , 46.2  , 53.5  , 60.8  , 68.1  ,
        75.4  , 82.7  , 90.   ]),
 'fnlwgt': array([  10812.58,  159527.  ,  306769.  ,  454011.  ,  601253.  ,
         748495.  ,  895737.  , 1042979.  , 1190221.  , 1337463.  ,
        1484705.  ]),
 'education-num': array([ 0.985,  2.5  ,  4.   ,  5.5  ,  7.   ,  8.5  , 10.   , 11.5  ,
        13.   , 14.5  , 16.   ]),
 'capital-gain': array([  -99.999,  9999.9  , 19999.8  , 29999.7  , 39999.6  , 49999.5  ,
        59999.4  , 69999.3  , 79999.2  , 89999.1  , 99999.   ]),
 'capital-loss': array([  -4.356,  435.6  ,  871.2  , 1306.8  , 1742.4  , 2178.   ,
        2613.6  , 3049.2  , 3484.8  , 3920.4  , 4356.   ]),
 'hours-per-week': array([ 0.902, 10.8  , 20.6  , 30.4  , 40.2  , 50.   , 59.8  , 69.6  ,
        79.4  , 89.2  , 99.   ])}

In [345]:
cat_dict = {}
for col in cat_cols:
    cat_dict[col] = df[col].unique()
cat_dict

{'workclass': array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
        ' Local-gov', ' Self-emp-inc', ' Without-pay', ' Never-worked'],
       dtype=object),
 'education': array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
        ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
        ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
        ' Preschool', ' 12th'], dtype=object),
 'marital-status': array([' Never-married', ' Married-civ-spouse', ' Divorced',
        ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
        ' Widowed'], dtype=object),
 'occupation': array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
        ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
        ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
        ' Tech-support', ' Protective-serv', ' Armed-Forces',
        ' Priv-house-serv'], dtype=object),
 'relationship': array([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
        ' Other-relative'], dtype=object),
 'race': array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
        ' Other'], dtype=object),
 'sex': array([' Male', ' Female'], dtype=object),
 'native-country': array([' United-States', ' Cuba', ' Jamaica', ' India', ' Mexico',
        ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
        ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
        ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
        ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
        ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
        ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
        ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
        ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)}

## Task 2

### Calculating Prior Probability

In [346]:
# df['age'].value_counts(normalize=True, bins=[16, 35, 53, 71, 90])

In [347]:
def calculate_prior(df):
    return df['income'].value_counts(normalize=True).to_dict()

In [348]:
prior = calculate_prior(train)
prior

{' <=50K': 0.7575632563256326, ' >50K': 0.24243674367436743}

### Calculating Conditional Probability

In [373]:
def calculate_conditional(df, bin_dict, cat_dict, cat_cols, cont_cols, smooth=False):
    grouped = df.groupby(df.income)
    df1 = grouped.get_group(" <=50K")
    df2 = grouped.get_group(" >50K")
    cond1, cond2 = dict(), dict()
    if smooth == False:
        for col in cat_cols:
            cond1[col] = dict.fromkeys(cat_dict[col], 0)
            cond2[col] = dict.fromkeys(cat_dict[col], 0)
            cond1[col].update(df1[col].value_counts(normalize=True).to_dict())
            cond2[col].update(df2[col].value_counts(normalize=True).to_dict())
        for col in cont_cols:
            # cut = pd.cut(df1[col], bins=bin_dict[col], labels=bin_dict[col][:-1])
            # cond1[col] = cut.value_counts(normalize=True).to_dict()
            # cut = pd.cut(df2[col], bins=bin_dict[col], labels=bin_dict[col][:-1])
            # cond2[col] = cut.value_counts(normalize=True).to_dict()
            cond1[col] = df1[col].value_counts(normalize=True, bins=bin_dict[col]).to_dict()
            cond2[col] = df2[col].value_counts(normalize=True, bins=bin_dict[col]).to_dict()
    else:
        alpha = 100
        for col in cat_cols:
            k = len(cat_dict[col])          # k = (no. of categories)
            cond1[col] = dict.fromkeys(cat_dict[col], 0)
            cond2[col] = dict.fromkeys(cat_dict[col], 0)
            cond1[col].update(df1[col].value_counts().to_dict())
            cond2[col].update(df2[col].value_counts().to_dict())
            N = sum(cond1[col].values())
            cond1[col] = {cat:((cnt + alpha) / (N + k * alpha)) for cat, cnt in cond1[col].items()}
            N = sum(cond2[col].values())
            cond2[col] = {cat:((cnt + alpha) / (N + k * alpha)) for cat, cnt in cond2[col].items()}
        for col in cont_cols:
            k = len(bin_dict[col]) - 1      # k = (no. of bins)
            cond1[col] = df1[col].value_counts(bins=bin_dict[col]).to_dict()
            cond2[col] = df2[col].value_counts(bins=bin_dict[col]).to_dict()
            N = sum(cond1[col].values())
            cond1[col] = {cat:((cnt + alpha) / (N + k * alpha)) for cat, cnt in cond1[col].items()}
            N = sum(cond2[col].values())
            cond2[col] = {cat:((cnt + alpha) / (N + k * alpha)) for cat, cnt in cond2[col].items()}
    return cond1, cond2

In [350]:
cond1, cond2 = calculate_conditional(train, bin_dict, cat_dict, cat_cols, cont_cols)

In [351]:
# import json

# with open('cond1.json', 'w') as fp:
#     json.dump(cond1, fp)
# with open('cond2.json', 'w') as fp:
#     json.dump(cond2, fp)

In [352]:
import pprint
pprint.pprint(cond1, indent=4)
pprint.pprint(cond2, indent=4)

{   'age': {   Interval(16.926, 24.3, closed='right'): 0.22593332123192353,
               Interval(24.3, 31.6, closed='right'): 0.20197252979972166,
               Interval(31.6, 38.9, closed='right'): 0.17637804804259696,
               Interval(38.9, 46.2, closed='right'): 0.16082773643129425,
               Interval(46.2, 53.5, closed='right'): 0.09626671507230593,
               Interval(53.5, 60.8, closed='right'): 0.06752586676347795,
               Interval(60.8, 68.1, closed='right'): 0.0471954982755491,
               Interval(68.1, 75.4, closed='right'): 0.015913353905730017,
               Interval(75.4, 82.7, closed='right'): 0.005990197858050463,
               Interval(82.7, 90.0, closed='right'): 0.0019967326193501543},
    'capital-gain': {   Interval(-100.0, 9999.9, closed='right'): 0.999455436558359,
                        Interval(9999.9, 19999.8, closed='right'): 0.00030253524535608396,
                        Interval(19999.8, 29999.7, closed='right'): 0.0,
                        Interval(29999.7, 39999.6, closed='right'): 0.0001815211472136504,
                        Interval(39999.6, 49999.5, closed='right'): 6.05070490712168e-05,
                        Interval(49999.5, 59999.4, closed='right'): 0.0,
                        Interval(59999.4, 69999.3, closed='right'): 0.0,
                        Interval(69999.3, 79999.2, closed='right'): 0.0,
                        Interval(79999.2, 89999.1, closed='right'): 0.0,
                        Interval(89999.1, 99999.0, closed='right'): 0.0},
    'capital-loss': {   Interval(-4.357, 435.6, closed='right'): 0.969867489562534,
                        Interval(435.6, 871.2, closed='right'): 0.0006050704907121679,
                        Interval(871.2, 1306.8, closed='right'): 0.0009076057360682519,
                        Interval(1306.8, 1742.4, closed='right'): 0.016578931445513402,
                        Interval(1742.4, 2178.0, closed='right'): 0.008107944575543051,
                        Interval(2178.0, 2613.6, closed='right'): 0.0033883947479881405,
                        Interval(2613.6, 3049.2, closed='right'): 0.0001210140981424336,
                        Interval(3049.2, 3484.8, closed='right'): 0.0,
                        Interval(3484.8, 3920.4, closed='right'): 0.00030253524535608396,
                        Interval(3920.4, 4356.0, closed='right'): 0.0001210140981424336},
    'education': {   ' 10th': 0.03485206026502088,
                     ' 11th': 0.04531977975434138,
                     ' 12th': 0.015913353905730017,
                     ' 1st-4th': 0.0063532401524777635,
                     ' 5th-6th': 0.013493071942881346,
                     ' 7th-8th': 0.025776002904338357,
                     ' 9th': 0.01984631209535911,
                     ' Assoc-acdm': 0.03327887698916924,
                     ' Assoc-voc': 0.040479215828644034,
                     ' Bachelors': 0.1263992255097719,
                     ' Doctorate': 0.003932958189629091,
                     ' HS-grad': 0.35075936346584374,
                     ' Masters': 0.031584679615175165,
                     ' Preschool': 0.0022992678647062383,
                     ' Prof-school': 0.007079324741332365,
                     ' Some-college': 0.24263326677557936},
    'education-num': {   Interval(0.984, 2.5, closed='right'): 0.008652508017184002,
                         Interval(2.5, 4.0, closed='right'): 0.0392690748472197,
                         Interval(4.0, 5.5, closed='right'): 0.01984631209535911,
                         Interval(5.5, 7.0, closed='right'): 0.08017184001936226,
                         Interval(7.0, 8.5, closed='right'): 0.015913353905730017,
                         Interval(8.5, 10.0, closed='right'): 0.5933926302414231,
                         Interval(10.0, 11.5, closed='right'): 0.040479215828644034,
                         Interval(11.5, 13.0, closed='right'): 0.15967810249894113,
                         Interval(13.0, 14.5, closed='right'): 0.031584679615175165,
                         Interval(14.5, 16.0, closed='right'): 0.011012282930961457},
    'fnlwgt': {   Interval(10812.579, 159527.0, closed='right'): 0.4034004961578024,
                  Interval(159527.0, 306769.0, closed='right'): 0.46947419374357113,
                  Interval(306769.0, 454011.0, closed='right'): 0.10752102619955224,
                  Interval(454011.0, 601253.0, closed='right'): 0.015368790464089066,
                  Interval(601253.0, 748495.0, closed='right'): 0.0031463665517032736,
                  Interval(748495.0, 895737.0, closed='right'): 0.0005445634416409512,
                  Interval(895737.0, 1042979.0, closed='right'): 0.0002420281962848672,
                  Interval(1042979.0, 1190221.0, closed='right'): 0.0001210140981424336,
                  Interval(1190221.0, 1337463.0, closed='right'): 0.0,
                  Interval(1337463.0, 1484705.0, closed='right'): 0.0001815211472136504},
    'hours-per-week': {   Interval(0.901, 10.8, closed='right'): 0.027470200278332427,
                          Interval(10.8, 20.6, closed='right'): 0.08513341804320203,
                          Interval(20.6, 30.4, closed='right'): 0.0882797845949053,
                          Interval(30.4, 40.2, closed='right'): 0.5660434440612331,
                          Interval(40.2, 50.0, closed='right'): 0.144853875476493,
                          Interval(50.0, 59.8, closed='right'): 0.02438434077570037,
                          Interval(59.8, 69.6, closed='right'): 0.04350456828220488,
                          Interval(69.6, 79.4, closed='right'): 0.011496339323531191,
                          Interval(79.4, 89.2, closed='right'): 0.0049010709747685606,
                          Interval(89.2, 99.0, closed='right'): 0.003932958189629091},
    'marital-status': {   ' Divorced': 0.16215889151086102,
                          ' Married-AF-spouse': 0.00042354934349851756,
                          ' Married-civ-spouse': 0.33442246021661526,
                          ' Married-spouse-absent': 0.015429297513160283,
                          ' Never-married': 0.41332365220548195,
                          ' Separated': 0.038179947963937796,
                          ' Widowed': 0.036062201246445214},
    'native-country': {   ' Cambodia': 0.0005445634416409512,
                          ' Canada': 0.003267380649845707,
                          ' China': 0.0021177467174925877,
                          ' Columbia': 0.002480789011919889,
                          ' Cuba': 0.0027228172082047557,
                          ' Dominican-Republic': 0.0025412960609911056,
                          ' Ecuador': 0.0010286198342106855,
                          ' El-Salvador': 0.004053972287771526,
                          ' England': 0.0019362255702789375,
                          ' France': 0.0006655775397833848,
                          ' Germany': 0.004235493434985175,
                          ' Greece': 0.0010286198342106855,
                          ' Guatemala': 0.0024202819628486717,
                          ' Haiti': 0.0016336903249228535,
                          ' Holand-Netherlands': 6.05070490712168e-05,
                          ' Honduras': 0.0004840563925697344,
                          ' Hong': 0.0006050704907121679,
                          ' Hungary': 0.00042354934349851756,
                          ' India': 0.0022387608156350216,
                          ' Iran': 0.0012706480304955528,
                          ' Ireland': 0.0005445634416409512,
                          ' Italy': 0.0017547044230652872,
                          ' Jamaica': 0.0025412960609911056,
                          ' Japan': 0.0016336903249228535,
                          ' Laos': 0.00042354934349851756,
                          ' Mexico': 0.025897017002480788,
                          ' Nicaragua': 0.0011496339323531191,
                          ' Outlying-US(Guam-USVI-etc)': 0.0006655775397833848,
                          ' Peru': 0.0010891268832819024,
                          ' Philippines': 0.005143099171053427,
                          ' Poland': 0.0019362255702789375,
                          ' Portugal': 0.0013916621286379862,
                          ' Puerto-Rico': 0.004114479336842742,
                          ' Scotland': 0.0003630422944273008,
                          ' South': 0.002480789011919889,
                          ' Taiwan': 0.0015126762267804199,
                          ' Thailand': 0.0005445634416409512,
                          ' Trinadad&Tobago': 0.0006050704907121679,
                          ' United-States': 0.9077267501663944,
                          ' Vietnam': 0.0022387608156350216,
                          ' Yugoslavia': 0.0004840563925697344},
    'occupation': {   ' Adm-clerical': 0.13196587402432383,
                      ' Armed-Forces': 0.00042354934349851756,
                      ' Craft-repair': 0.1286379863254069,
                      ' Exec-managerial': 0.08628305197555515,
                      ' Farming-fishing': 0.03624372239365886,
                      ' Handlers-cleaners': 0.05040237187632359,
                      ' Machine-op-inspct': 0.06970412053004175,
                      ' Other-service': 0.12524959157741877,
                      ' Priv-house-serv': 0.0054456344164095115,
                      ' Prof-specialty': 0.16010165184243966,
                      ' Protective-serv': 0.017849579476008955,
                      ' Sales': 0.11054637865311309,
                      ' Tech-support': 0.025957524051552005,
                      ' Transport-moving': 0.05118896351424941},
    'race': {   ' Amer-Indian-Eskimo': 0.01095177588189024,
                ' Asian-Pac-Islander': 0.030556059780964484,
                ' Black': 0.11103043504568282,
                ' Other': 0.009923156047679555,
                ' White': 0.8375385732437829},
    'relationship': {   ' Husband': 0.29388273733889997,
                        ' Not-in-family': 0.2985417801173837,
                        ' Other-relative': 0.03914806074907727,
                        ' Own-child': 0.2046348399588552,
                        ' Unmarried': 0.13069522599382827,
                        ' Wife': 0.03309735584195559},
    'sex': {' Female': 0.38482483209293883, ' Male': 0.6151751679070612},
    'workclass': {   ' Federal-gov': 0.023355720941489685,
                     ' Local-gov': 0.05929690808979246,
                     ' Never-worked': 0.00030253524535608396,
                     ' Private': 0.7847764264536818,
                     ' Self-emp-inc': 0.020874931929569795,
                     ' Self-emp-not-inc': 0.07285048708174502,
                     ' State-gov': 0.03799842681672415,
                     ' Without-pay': 0.0005445634416409512}}
{   'age': {   Interval(16.926, 24.3, closed='right'): 0.007751937984496124,
               Interval(24.3, 31.6, closed='right'): 0.10247683872187559,
               Interval(31.6, 38.9, closed='right'): 0.21667612024957458,
               Interval(38.9, 46.2, closed='right'): 0.28304027226318773,
               Interval(46.2, 53.5, closed='right'): 0.20363017583664209,
               Interval(53.5, 60.8, closed='right'): 0.11608999810928342,
               Interval(60.8, 68.1, closed='right'): 0.05256192096804689,
               Interval(68.1, 75.4, closed='right'): 0.012478729438457176,
               Interval(75.4, 82.7, closed='right'): 0.004159576479485725,
               Interval(82.7, 90.0, closed='right'): 0.0011344299489506524},
    'capital-gain': {   Interval(-100.0, 9999.9, closed='right'): 0.9050860276044621,
                        Interval(9999.9, 19999.8, closed='right'): 0.06258271885044432,
                        Interval(19999.8, 29999.7, closed='right'): 0.010588012856872754,
                        Interval(29999.7, 39999.6, closed='right'): 0.0,
                        Interval(39999.6, 49999.5, closed='right'): 0.0,
                        Interval(49999.5, 59999.4, closed='right'): 0.0,
                        Interval(59999.4, 69999.3, closed='right'): 0.0,
                        Interval(69999.3, 79999.2, closed='right'): 0.0,
                        Interval(79999.2, 89999.1, closed='right'): 0.0,
                        Interval(89999.1, 99999.0, closed='right'): 0.021743240688220835},
    'capital-loss': {   Interval(-4.357, 435.6, closed='right'): 0.9009264511249764,
                        Interval(435.6, 871.2, closed='right'): 0.0003781433163168841,
                        Interval(871.2, 1306.8, closed='right'): 0.0,
                        Interval(1306.8, 1742.4, closed='right'): 0.00737379466817924,
                        Interval(1742.4, 2178.0, closed='right'): 0.07354887502363396,
                        Interval(2178.0, 2613.6, closed='right'): 0.016071090943467575,
                        Interval(2613.6, 3049.2, closed='right'): 0.0015125732652675364,
                        Interval(3049.2, 3484.8, closed='right'): 0.0,
                        Interval(3484.8, 3920.4, closed='right'): 0.00018907165815844205,
                        Interval(3920.4, 4356.0, closed='right'): 0.0},
    'education': {   ' 10th': 0.00737379466817924,
                     ' 11th': 0.007184723010020798,
                     ' 12th': 0.0045377197958026095,
                     ' 1st-4th': 0.0005672149744753262,
                     ' 5th-6th': 0.0018907165815844206,
                     ' 7th-8th': 0.005861221402911704,
                     ' 9th': 0.0028360748723766306,
                     ' Assoc-acdm': 0.03365475515220268,
                     ' Assoc-voc': 0.04783512951408584,
                     ' Bachelors': 0.2851200605029306,
                     ' Doctorate': 0.03705804499905464,
                     ' HS-grad': 0.2041973908111174,
                     ' Masters': 0.11968235961429381,
                     ' Preschool': 0,
                     ' Prof-school': 0.056910569105691054,
                     ' Some-college': 0.1852902249952732},
    'education-num': {   Interval(0.984, 2.5, closed='right'): 0.0005672149744753262,
                         Interval(2.5, 4.0, closed='right'): 0.007751937984496124,
                         Interval(4.0, 5.5, closed='right'): 0.0028360748723766306,
                         Interval(5.5, 7.0, closed='right'): 0.014558517678200038,
                         Interval(7.0, 8.5, closed='right'): 0.0045377197958026095,
                         Interval(8.5, 10.0, closed='right'): 0.38948761580639063,
                         Interval(10.0, 11.5, closed='right'): 0.04783512951408584,
                         Interval(11.5, 13.0, closed='right'): 0.31877481565513327,
                         Interval(13.0, 14.5, closed='right'): 0.11968235961429381,
                         Interval(14.5, 16.0, closed='right'): 0.0939686141047457},
    'fnlwgt': {   Interval(10812.579, 159527.0, closed='right'): 0.4159576479485725,
                  Interval(159527.0, 306769.0, closed='right'): 0.45830969937606353,
                  Interval(306769.0, 454011.0, closed='right'): 0.10890527509926262,
                  Interval(454011.0, 601253.0, closed='right'): 0.012667801096615618,
                  Interval(601253.0, 748495.0, closed='right'): 0.0028360748723766306,
                  Interval(748495.0, 895737.0, closed='right'): 0.0005672149744753262,
                  Interval(895737.0, 1042979.0, closed='right'): 0.0003781433163168841,
                  Interval(1042979.0, 1190221.0, closed='right'): 0.00018907165815844205,
                  Interval(1190221.0, 1337463.0, closed='right'): 0.00018907165815844205,
                  Interval(1337463.0, 1484705.0, closed='right'): 0.0},
    'hours-per-week': {   Interval(0.901, 10.8, closed='right'): 0.008130081300813009,
                          Interval(10.8, 20.6, closed='right'): 0.01777273586689355,
                          Interval(20.6, 30.4, closed='right'): 0.018907165815844205,
                          Interval(30.4, 40.2, closed='right'): 0.46001134429948953,
                          Interval(40.2, 50.0, closed='right'): 0.30194743807903196,
                          Interval(50.0, 59.8, closed='right'): 0.06012478729438457,
                          Interval(59.8, 69.6, closed='right'): 0.0975609756097561,
                          Interval(69.6, 79.4, closed='right'): 0.020608810739270185,
                          Interval(79.4, 89.2, closed='right'): 0.009453582907922102,
                          Interval(89.2, 99.0, closed='right'): 0.00548307808659482},
    'marital-status': {   ' Divorced': 0.05917942900359236,
                          ' Married-AF-spouse': 0.0009453582907922103,
                          ' Married-civ-spouse': 0.8532803932690489,
                          ' Married-spouse-absent': 0.004348648137644167,
                          ' Never-married': 0.06277179050860276,
                          ' Separated': 0.009642654566080544,
                          ' Widowed': 0.009831726224238986},
    'native-country': {   ' Cambodia': 0.0007562866326337682,
                          ' Canada': 0.004915863112119493,
                          ' China': 0.0017016449234259785,
                          ' Columbia': 0.00018907165815844205,
                          ' Cuba': 0.003403289846851957,
                          ' Dominican-Republic': 0.00018907165815844205,
                          ' Ecuador': 0.0007562866326337682,
                          ' El-Salvador': 0.0013235016071090943,
                          ' England': 0.003781433163168841,
                          ' France': 0.0011344299489506524,
                          ' Germany': 0.00548307808659482,
                          ' Greece': 0.0009453582907922103,
                          ' Guatemala': 0.00018907165815844205,
                          ' Haiti': 0.0005672149744753262,
                          ' Holand-Netherlands': 0,
                          ' Honduras': 0.00018907165815844205,
                          ' Hong': 0.0009453582907922103,
                          ' Hungary': 0.0005672149744753262,
                          ' India': 0.005104934770277935,
                          ' Iran': 0.0026470032142181885,
                          ' Ireland': 0.0005672149744753262,
                          ' Italy': 0.003403289846851957,
                          ' Jamaica': 0.0018907165815844206,
                          ' Japan': 0.003403289846851957,
                          ' Laos': 0.0003781433163168841,
                          ' Mexico': 0.003970504821327283,
                          ' Nicaragua': 0.0003781433163168841,
                          ' Outlying-US(Guam-USVI-etc)': 0,
                          ' Peru': 0.0003781433163168841,
                          ' Philippines': 0.007184723010020798,
                          ' Poland': 0.0011344299489506524,
                          ' Portugal': 0.0005672149744753262,
                          ' Puerto-Rico': 0.0017016449234259785,
                          ' Scotland': 0.0003781433163168841,
                          ' South': 0.0022688598979013048,
                          ' Taiwan': 0.0026470032142181885,
                          ' Thailand': 0.0003781433163168841,
                          ' Trinadad&Tobago': 0.0003781433163168841,
                          ' United-States': 0.9326904896955946,
                          ' Vietnam': 0.0007562866326337682,
                          ' Yugoslavia': 0.0007562866326337682},
    'occupation': {   ' Adm-clerical': 0.06390622045755341,
                      ' Armed-Forces': 0.00018907165815844205,
                      ' Craft-repair': 0.11949328795613537,
                      ' Exec-managerial': 0.24881830213650974,
                      ' Farming-fishing': 0.014180374361883154,
                      ' Handlers-cleaners': 0.010588012856872754,

### Predicting Class

In [353]:
def predict_class(row, prior, cond1, cond2):
    num1 = prior[' <=50K']
    num2 = prior[' >50K']
    for col in cat_cols:
        num1 *= cond1[col][row[col]]
        num2 *= cond2[col][row[col]]
    for col in cont_cols:
        for interval, val in cond1[col].items():
            if row[col] in interval:
                num1 *= cond1[col][interval]
                num2 *= cond2[col][interval]
                break
    if num1 >= num2:
        return ' <=50K'
    return ' >50K'

In [354]:
test['prediction'] = test.apply(lambda row: predict_class(row, prior, cond1, cond2), axis=1)
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,prediction
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K,<=50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,>50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,<=50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,<=50K

## Task 3

### Evaluation

In [361]:
def evaluate(df, smooth=False):
    grouped = df.groupby(df.income)
    df1 = grouped.get_group(" <=50K")
    df2 = grouped.get_group(" >50K")
    if smooth:
        dict1 = df1['prediction_smoothing'].value_counts().to_dict()
        dict2 = df2['prediction_smoothing'].value_counts().to_dict()
    else:
        dict1 = df1['prediction'].value_counts().to_dict()
        dict2 = df2['prediction'].value_counts().to_dict()
    tp = dict1[" <=50K"]
    fp = dict2[" <=50K"]
    tn = dict2[" >50K"]
    fn = dict1[" >50K"]
    print(f"TP: {tp}\t FP: {fp}\t TN: {tn}\t FN: {fn}")
    acc = (tp + fp) / (tp + fp + tn + fn)
    prec = tp / (tp + fp)
    rec = tp / (tp + fn)
    f1 = 2 / (1 / prec + 1 / rec)
    print(f"Accuracy: {acc}")
    print(f"Precision: {prec}")
    print(f"Recall: {rec}")
    print(f"F1-Score: {f1}")

In [356]:
evaluate(test[['income', 'prediction']])

TP: 6873	 FP: 577	 TN: 1975	 FN: 1320
Accuracy: 0.693345742205677
Precision: 0.9225503355704698
Recall: 0.838886854632003
F1-Score: 0.8787317010803556

### Smoothing

In [374]:
cond1_smooth, cond2_smooth = calculate_conditional(train, bin_dict, cat_dict, cat_cols, cont_cols, smooth=True)

In [375]:
pprint.pprint(cond1_smooth, indent=4)
pprint.pprint(cond2_smooth, indent=4)

{   'age': {   Interval(16.926, 24.3, closed='right'): 0.21874821703657216,
               Interval(24.3, 31.6, closed='right'): 0.19615450447880414,
               Interval(31.6, 38.9, closed='right'): 0.1720203115193701,
               Interval(38.9, 46.2, closed='right'): 0.15735722028869745,
               Interval(46.2, 53.5, closed='right'): 0.09647971700804472,
               Interval(53.5, 60.8, closed='right'): 0.06937867290466138,
               Interval(60.8, 68.1, closed='right'): 0.05020825012837336,
               Interval(68.1, 75.4, closed='right'): 0.020710903177954015,
               Interval(75.4, 82.7, closed='right'): 0.011353911108575341,
               Interval(82.7, 90.0, closed='right'): 0.007588292348947338},
    'capital-gain': {   Interval(-100.0, 9999.9, closed='right'): 0.948137159810578,
                        Interval(9999.9, 19999.8, closed='right'): 0.005990757117590004,
                        Interval(19999.8, 29999.7, closed='right'): 0.005705482969133337,
                        Interval(29999.7, 39999.6, closed='right'): 0.005876647458207337,
                        Interval(39999.6, 49999.5, closed='right'): 0.00576253779882467,
                        Interval(49999.5, 59999.4, closed='right'): 0.005705482969133337,
                        Interval(59999.4, 69999.3, closed='right'): 0.005705482969133337,
                        Interval(69999.3, 79999.2, closed='right'): 0.005705482969133337,
                        Interval(79999.2, 89999.1, closed='right'): 0.005705482969133337,
                        Interval(89999.1, 99999.0, closed='right'): 0.005705482969133337},
    'capital-loss': {   Interval(-4.357, 435.6, closed='right'): 0.9202373480915159,
                        Interval(435.6, 871.2, closed='right'): 0.00627603126604667,
                        Interval(871.2, 1306.8, closed='right'): 0.006561305414503338,
                        Interval(1306.8, 1742.4, closed='right'): 0.02133850630455868,
                        Interval(1742.4, 2178.0, closed='right'): 0.01335083014777201,
                        Interval(2178.0, 2613.6, closed='right'): 0.008900553431848006,
                        Interval(2613.6, 3049.2, closed='right'): 0.005819592628516004,
                        Interval(3049.2, 3484.8, closed='right'): 0.005705482969133337,
                        Interval(3484.8, 3920.4, closed='right'): 0.005990757117590004,
                        Interval(3920.4, 4356.0, closed='right'): 0.005819592628516004},
    'education': {   ' 10th': 0.03729243669664037,
                     ' 11th': 0.04683621117669774,
                     ' 12th': 0.02002537651017819,
                     ' 1st-4th': 0.011309096927235616,
                     ' 5th-6th': 0.017818723451205384,
                     ' 7th-8th': 0.02901748772549236,
                     ' 9th': 0.02361118773100899,
                     ' Assoc-acdm': 0.03585811220830805,
                     ' Assoc-voc': 0.04242290505875214,
                     ' Bachelors': 0.12075908865228664,
                     ' Doctorate': 0.009102443868262812,
                     ' HS-grad': 0.3253158272190655,
                     ' Masters': 0.034313455067027085,
                     ' Preschool': 0.0076129530534561705,
                     ' Prof-school': 0.011971092844927457,
                     ' Some-college': 0.2267336018094555},
    'education-num': {   Interval(0.984, 2.5, closed='right'): 0.013864323614994008,
                         Interval(2.5, 4.0, closed='right'): 0.0427340674388087,
                         Interval(4.0, 5.5, closed='right'): 0.024419467107890683,
                         Interval(5.5, 7.0, closed='right'): 0.08130313231015006,
                         Interval(7.0, 8.5, closed='right'): 0.020710903177954015,
                         Interval(8.5, 10.0, closed='right'): 0.5652421977520398,
                         Interval(10.0, 11.5, closed='right'): 0.04387516403263536,
                         Interval(11.5, 13.0, closed='right'): 0.1562731785245621,
                         Interval(13.0, 14.5, closed='right'): 0.035488104068009355,
                         Interval(14.5, 16.0, closed='right'): 0.01608946197295601},
    'fnlwgt': {   Interval(10812.579, 159527.0, closed='right'): 0.3860900325212529,
                  Interval(159527.0, 306769.0, closed='right'): 0.448393906544189,
                  Interval(306769.0, 454011.0, closed='right'): 0.10709191533063274,
                  Interval(454011.0, 601253.0, closed='right'): 0.020197409710732014,
                  Interval(601253.0, 748495.0, closed='right'): 0.008672334113082672,
                  Interval(748495.0, 895737.0, closed='right'): 0.0062189764363553375,
                  Interval(895737.0, 1042979.0, closed='right'): 0.005933702287898671,
                  Interval(1042979.0, 1190221.0, closed='right'): 0.005819592628516004,
                  Interval(1190221.0, 1337463.0, closed='right'): 0.005705482969133337,
                  Interval(1337463.0, 1484705.0, closed='right'): 0.005876647458207337},
    'hours-per-week': {   Interval(0.901, 10.8, closed='right'): 0.03160837564899869,
                          Interval(10.8, 20.6, closed='right'): 0.0859816283448394,
                          Interval(20.6, 30.4, closed='right'): 0.08894847948878873,
                          Interval(30.4, 40.2, closed='right'): 0.5394534147315571,
                          Interval(40.2, 50.0, closed='right'): 0.14229474525018543,
                          Interval(50.0, 59.8, closed='right'): 0.028698579334740685,
                          Interval(59.8, 69.6, closed='right'): 0.04672790551720203,
                          Interval(69.6, 79.4, closed='right'): 0.016545900610486677,
                          Interval(79.4, 89.2, closed='right'): 0.01032692417413134,
                          Interval(89.2, 99.0, closed='right'): 0.009414046899070007},
    'marital-status': {   ' Divorced': 0.16137458640506183,
                          ' Married-AF-spouse': 0.006211180124223602,
                          ' Married-civ-spouse': 0.3266384164393104,
                          ' Married-spouse-absent': 0.02060718639345214,
                          ' Never-married': 0.40233354617751205,
                          ' Separated': 0.04243338944679863,
                          ' Widowed': 0.040401695013641374},
    'native-country': {   ' Cambodia': 0.005284336064381636,
                          ' Canada': 0.007465942696465797,
                          ' China': 0.006544819896252485,
                          ' Columbia': 0.006835700780530373,
                          ' Cuba': 0.007029621370048965,
                          ' Dominican-Republic': 0.006884180927910021,
                          ' Ecuador': 0.00567217724341882,
                          ' El-Salvador': 0.008096184612401221,
                          ' England': 0.00639937945411354,
                          ' France': 0.005381296359140932,
                          ' Germany': 0.008241625054540166,
                          ' Greece': 0.00567217724341882,
                          ' Guatemala': 0.006787220633150725,
                          ' Haiti': 0.006156978717215301,
                          ' Holand-Netherlands': 0.004896494885344452,
                          ' Honduras': 0.0052358559170019876,
                          ' Hong': 0.005332816211761284,
                          ' Hungary': 0.00518737576962234,
                          ' India': 0.006641780191011781,
                          ' Iran': 0.005866097832937412,
                          ' Ireland': 0.005284336064381636,
                          ' Italy': 0.006253939011974597,
                          ' Jamaica': 0.006884180927910021,
                          ' Japan': 0.006156978717215301,
                          ' Laos': 0.00518737576962234,
                          ' Mexico': 0.02559751781645416,
                          ' Nicaragua': 0.005769137538178116,
                          ' Outlying-US(Guam-USVI-etc)': 0.005381296359140932,
                          ' Peru': 0.005720657390798468,
                          ' Philippines': 0.008968827265234887,
                          ' Poland': 0.00639937945411354,
                          ' Portugal': 0.0059630581276967085,
                          ' Puerto-Rico': 0.00814466475978087,
                          ' Scotland': 0.0051388956222426915,
                          ' South': 0.006835700780530373,
                          ' Taiwan': 0.0060600184224560046,
                          ' Thailand': 0.005284336064381636,
                          ' Trinadad&Tobago': 0.005332816211761284,
                          ' United-States': 0.7321471857274446,
                          ' Vietnam': 0.006641780191011781,
                          ' Yugoslavia': 0.0052358559170019876},
    'occupation': {   ' Adm-clerical': 0.12723824398951303,
                      ' Armed-Forces': 0.0059686506387014,
                      ' Craft-repair': 0.12417024599765716,
                      ' Exec-managerial': 0.08512299882858258,
                      ' Farming-fishing': 0.03899146538740447,
                      ' Handlers-cleaners': 0.052044402298209405,
                      ' Machine-op-inspct': 0.0698387906509734,
                      ' Other-service': 0.1210464662241312,
                      ' Priv-house-serv': 0.010598538517320243,
                      ' Prof-specialty': 0.15317677246611255,
                      ' Protective-serv': 0.022033803759692085,
                      ' Sales': 0.10749149327829531,
                      ' Tech-support': 0.029508562503486362,
                      ' Transport-moving': 0.05276956545992079},
    'race': {   ' Amer-Indian-Eskimo': 0.016503200798731427,
                ' Asian-Pac-Islander': 0.03553180243143243,
                ' Black': 0.113643037528631,
                ' Other': 0.015504786515534151,
                ' White': 0.818817172725671},
    'relationship': {   ' Husband': 0.2894260524318328,
                        ' Not-in-family': 0.29392187773690664,
                        ' Other-relative': 0.043615344193378876,
                        ' Own-child': 0.2033047235359374,
                        ' Unmarried': 0.13195539207099902,
                        ' Wife': 0.03777661003094529},
    'sex': {' Female': 0.38620194894481974, ' Male': 0.6137980510551803},
    'workclass': {   ' Federal-gov': 0.028048710105615514,
                     ' Local-gov': 0.06233046690136781,
                     ' Never-worked': 0.006059906504299648,
                     ' Private': 0.7543140762971086,
                     ' Self-emp-inc': 0.025682460899174697,
                     ' Self-emp-not-inc': 0.07525826744387372,
                     ' State-gov': 0.04201535176314423,
                     ' Without-pay': 0.006290760085415825}}
{   'age': {   Interval(16.926, 24.3, closed='right'): 0.022420098584830656,
               Interval(24.3, 31.6, closed='right'): 0.10208300206710129,
               Interval(31.6, 38.9, closed='right'): 0.19812370806169502,
               Interval(38.9, 46.2, closed='right'): 0.253935442836699,
               Interval(46.2, 53.5, closed='right'): 0.18715217045635235,
               Interval(53.5, 60.8, closed='right'): 0.11353156304658928,
               Interval(60.8, 68.1, closed='right'): 0.060104945142311975,
               Interval(68.1, 75.4, closed='right'): 0.0263952933693751,
               Interval(75.4, 82.7, closed='right'): 0.01939895054857688,
               Interval(82.7, 90.0, closed='right'): 0.016854825886468437},
    'capital-gain': {   Interval(-100.0, 9999.9, closed='right'): 0.7770710764827476,
                        Interval(9999.9, 19999.8, closed='right'): 0.0685323580855462,
                        Interval(19999.8, 29999.7, closed='right'): 0.024805215455557323,
                        Interval(29999.7, 39999.6, closed='right'): 0.01590077913817777,
                        Interval(39999.6, 49999.5, closed='right'): 0.01590077913817777,
                        Interval(49999.5, 59999.4, closed='right'): 0.01590077913817777,
                        Interval(59999.4, 69999.3, closed='right'): 0.01590077913817777,
                        Interval(69999.3, 79999.2, closed='right'): 0.01590077913817777,
                        Interval(79999.2, 89999.1, closed='right'): 0.01590077913817777,
                        Interval(89999.1, 99999.0, closed='right'): 0.03418667514708221},
    'capital-loss': {   Interval(-4.357, 435.6, closed='right'): 0.7735729050723485,
                        Interval(435.6, 871.2, closed='right'): 0.016218794720941326,
                        Interval(871.2, 1306.8, closed='right'): 0.01590077913817777,
                        Interval(1306.8, 1742.4, closed='right'): 0.0221020830020671,
                        Interval(1742.4, 2178.0, closed='right'): 0.0777548099856893,
                        Interval(2178.0, 2613.6, closed='right'): 0.029416441405628876,
                        Interval(2613.6, 3049.2, closed='right'): 0.01717284146923199,
                        Interval(3049.2, 3484.8, closed='right'): 0.01590077913817777,
                        Interval(3484.8, 3920.4, closed='right'): 0.016059786929559547,
                        Interval(3920.4, 4356.0, closed='right'): 0.01590077913817777},
    'education': {   ' 10th': 0.020177093917840033,
                     ' 11th': 0.020031934968790827,
                     ' 12th': 0.017999709682101902,
                     ' 1st-4th': 0.014951371752068515,
                     ' 5th-6th': 0.015967484395412977,
                     ' 7th-8th': 0.019015822325446363,
                     ' 9th': 0.01669327914065902,
                     ' Assoc-acdm': 0.040354187835680067,
                     ' Assoc-voc': 0.051241109014370734,
                     ' Bachelors': 0.2334155900711279,
                     ' Doctorate': 0.04296704891856583,
                     ' HS-grad': 0.1712875598780665,
                     ' Masters': 0.10640150965307012,
                     ' Preschool': 0.014515894904920888,
                     ' Prof-school': 0.058208738568732765,
                     ' Some-college': 0.1567716649731456},
    'education-num': {   Interval(0.984, 2.5, closed='right'): 0.016377802512323104,
                         Interval(2.5, 4.0, closed='right'): 0.022420098584830656,
                         Interval(4.0, 5.5, closed='right'): 0.018285896008904436,
                         Interval(5.5, 7.0, closed='right'): 0.028144379074574653,
                         Interval(7.0, 8.5, closed='right'): 0.019716966131340434,
                         Interval(8.5, 10.0, closed='right'): 0.34345682938463984,
                         Interval(10.0, 11.5, closed='right'): 0.05612975035776753,
                         Interval(11.5, 13.0, closed='right'): 0.283987915407855,
                         Interval(13.0, 14.5, closed='right'): 0.11655271108284306,
                         Interval(14.5, 16.0, closed='right'): 0.0949276514549213},
    'fnlwgt': {   Interval(10812.579, 159527.0, closed='right'): 0.36571792017808874,
                  Interval(159527.0, 306769.0, closed='right'): 0.40133566544760696,
                  Interval(306769.0, 454011.0, closed='right'): 0.10748926697408173,
                  Interval(454011.0, 601253.0, closed='right'): 0.026554301160756875,
                  Interval(601253.0, 748495.0, closed='right'): 0.018285896008904436,
                  Interval(748495.0, 895737.0, closed='right'): 0.016377802512323104,
                  Interval(895737.0, 1042979.0, closed='right'): 0.016218794720941326,
                  Interval(1042979.0, 1190221.0, closed='right'): 0.016059786929559547,
                  Interval(1190221.0, 1337463.0, closed='right'): 0.016059786929559547,
                  Interval(1337463.0, 1484705.0, closed='right'): 0.01590077913817777},
    'hours-per-week': {   Interval(0.901, 10.8, closed='right'): 0.022738114167594213,
                          Interval(10.8, 20.6, closed='right'): 0.030847511528064874,
                          Interval(20.6, 30.4, closed='right'): 0.03180155827635554,
                          Interval(30.4, 40.2, closed='right'): 0.40276673557004294,
                          Interval(40.2, 50.0, closed='right'): 0.2698362219748768,
                          Interval(50.0, 59.8, closed='right'): 0.06646525679758308,
                          Interval(59.8, 69.6, closed='right'): 0.09794879949117506,
                          Interval(69.6, 79.4, closed='right'): 0.03323262839879154,
                          Interval(79.4, 89.2, closed='right'): 0.023851168707266657,
                          Interval(89.2, 99.0, closed='right'): 0.020512005088249324},
    'marital-status': {   ' Divorced': 0.06895975955919185,
                          ' Married-AF-spouse': 0.017532142260811488,
                          ' Married-civ-spouse': 0.7702454499916513,
                          ' Married-spouse-absent': 0.020537652362664884,
                          ' Never-married': 0.07213224244448155,
                          ' Separated': 0.025212890298881283,
                          ' Widowed': 0.025379863082317582},
    'native-country': {   ' Cambodia': 0.01107679199062733,
                          ' Canada': 0.013419959527106189,
                          ' China': 0.011609330067099797,
                          ' Columbia': 0.010757269144743849,
                          ' Cuba': 0.01256789860475024,
                          ' Dominican-Republic': 0.010757269144743849,
                          ' Ecuador': 0.01107679199062733,
                          ' El-Salvador': 0.01139631483651081,
                          ' England': 0.012780913835339226,
                          ' France': 0.011289807221216317,
                          ' Germany': 0.01373948237298967,
                          ' Greece': 0.011183299605921824,
                          ' Guatemala': 0.010757269144743849,
                          ' Haiti': 0.010970284375332836,
                          ' Holand-Netherlands': 0.010650761529449356,
                          ' Honduras': 0.010757269144743849,
                          ' Hong': 0.011183299605921824,
                          ' Hungary': 0.010970284375332836,
                          ' India': 0.013526467142400682,
                          ' Iran': 0.012141868143572265,
                          ' Ireland': 0.010970284375332836,
                          ' Italy': 0.01256789860475024,
                          ' Jamaica': 0.011715837682394292,
                          ' Japan': 0.01256789860475024,
                          ' Laos': 0.010863776760038343,
                          ' Mexico': 0.012887421450633721,
                          ' Nicaragua': 0.010863776760038343,
                          ' Outlying-US(Guam-USVI-etc)': 0.010650761529449356,
                          ' Peru': 0.010863776760038343,
                          ' Philippines': 0.014698050910640111,
                          ' Poland': 0.011289807221216317,
                          ' Portugal': 0.010970284375332836,
                          ' Puerto-Rico': 0.011609330067099797,
                          ' Scotland': 0.010863776760038343,
                          ' South': 0.011928852912983278,
                          ' Taiwan': 0.012141868143572265,
                          ' Thailand': 0.010863776760038343,
                          ' Trinadad&Tobago': 0.010863776760038343,
                          ' United-States': 0.5360528277771861,
                          ' Vietnam': 0.01107679199062733,
                          ' Yugoslavia': 0.01107679199062733},
    'occupation': {   ' Adm-clerical': 0.0654806398564808,
                      ' Armed-Forces': 0.015099416953206758,
                      ' Craft-repair': 0.10943339811631037,

In [376]:
test['prediction_smoothing'] = test.apply(lambda row: predict_class(row, prior, cond1_smooth, cond2_smooth), axis=1)
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,prediction,prediction_smoothing
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,>50K,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,<=50K,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K,<=50K,<=50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K,<=50K,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K,<=50K,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,>50K,>50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K,<=50K,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,>50K,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,<=50K,<=50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,<=50K,<=50K

In [377]:
evaluate(test[['income', 'prediction_smoothing']], smooth=True)

TP: 7294	 FP: 943	 TN: 1609	 FN: 899
Accuracy: 0.7665891112145183
Precision: 0.8855165715673182
Recall: 0.8902721835713414
F1-Score: 0.8878880097382836